.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;

    &-menu-header {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    &-menu-logo {
        width: 100%;
    }

    &-menu-item {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        font-family: "Roboto";
        color: var(--primary-dark);
        margin-bottom: 24px;
        gap: 16px;
    }

    &-menu-link {
        text-decoration: none;
        color: var(--primary-dark);
    }
}

.mobile-menu-close {
    cursor: pointer;
    border: none;
    background-color: transparent;
}