.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.error {
    align-self: center;
    color: var(--primary-color-yellow);
    text-align: center;
    margin-top: 50px;
}